body{
/* 	
	background-image: linear-gradient(to bottom right, black, gray);
	 */
	background-color: #363636;
}


.form-control, .btn {        
	border-radius: 2px;
}
.login-form {
	width: 350px;
	margin: 0 auto;
	padding: 20px 0 30px;
	
	/* margin-bottom: 30px;		 */
}
.login-form form {
	
	border-radius: 2px;
	background-color: #0d131a;
	/* box-shadow: 8px 16px 16px #30c5c5; */
	font-size: 13px;
	/* border: 0.5vh black solid; */
	border-radius: 20px;
	padding: 10px;	
	position: relative;	
	border: 0.5vh #405064 solid ;
	
}
.login-form h2 {
	font-size: 22px;
	margin: 35px 0 25px;
	color: #ffffff;
}
.login-form .avatar {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -50px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #fff;
	border: 0.5vh black solid;
	padding: 15px;
	
}
.login-form .avatar img {
	width: 100%;
}	
.login-form input[type="checkbox"] {
	position: relative;
	top: 1px;
}
.login-form .btn, .login-form .btn:active {        
	font-size: 16px;
	font-weight: bold;
	background: #50a819 !important;
	border: none;
	margin-bottom: 20px;
}
.login-form .btn:hover, .login-form .btn:focus {
	background: #124461 !important;
}    
.login-form a {
	color: #fff;
	text-decoration: underline;
}
.login-form a:hover {
	text-decoration: none;
}
.login-form form a {
	color: #7a7a7a;
	text-decoration: none;
}
.login-form form a:hover {
	text-decoration: underline;
}
.login-form .bottom-action {
	font-size: 14px;
}
#radio_1{
	text-align: center;
	align-items: center;
}
#radio_2{
	text-align: center;
	align-items: center;
}

/* input[type=text],input[type=password]{
	/* box-shadow: 2px 4px 4px #30c5c5; */
/* } */

#button{
	/* box-shadow: 2px 4px 4px #30c5c5; */
	background-color: antiquewhite;
}
h1{
	text-align: center;
	margin-top: 20px;
}
.container-2{
	border: 0.5vh black solid;
	text-align: right;
}

#col-1{
	border: 0.5vh black solid;
	text-align: left;
	font-weight: bold;
	font-size: 20px;
}
#col-2{
	/*  */
	font-weight: bold;
	font-size: 40px;
	text-align:center;
	margin-top: 2vh;
	color: #f7f7f7;
	
}

#col-3{
	border: 0.5vh black solid;
	font-weight: bold;
	font-size: 20px;
	text-align: right;
}
.radio{
	text-align: center;
}

.radio-label{
	color: #ffffff;
}

.footer{
	position: fixed;
	height: 70px;
}

#footer{
	background-color: #0d131a;
	color: #ffffff;
	
}

@media(max-width: 350px){

	#col-2{
		justify-content: center;
		word-wrap: normal;
	}

	.login-form{
		padding: 30px;
		padding-bottom: 0px;
	}
}
.navbar{
    background-color: #0d131a;
	height: 70px;
}
.navbar-umm{
	background-color: #0d131a;
	height: 60px;
}
.navbar-1{
	background-color: #0d131a;
	height: 60px;
}