body {
  /* background: rgb(44, 44, 187);
  background: linear-gradient(
    90deg,
    rgba(44, 44, 187, 1) 0%,
    rgba(20, 230, 44, 1) 0%,
    rgba(0, 232, 244, 1) 0%,
    rgba(39, 152, 182, 1) 0%,
    rgba(2, 0, 36, 1) 0%,
    rgba(45, 208, 237, 1) 0%,
    rgba(178, 252, 255, 1) 0%,
    rgba(87, 119, 187, 1) 100%,
    rgba(6, 0, 125, 1) 100%,
    rgba(105, 213, 250, 1) 100%,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  ); */
  background-color: #112726;
  color: #6cf9f0;
}
.box {
  margin-left: 1%;
  margin-right: 2%;
  height: max-content;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
}

.leftcol {
  height: 81vh;
  /* border-right: 1px solid black; */
}

.uimg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 105px;
  text-align: center;
  padding-bottom: 7%;
  margin-top: 5%;
  border: 1px solid #6cf9f0;
}
.leftcol .username {
  margin-top: 10px;
}

.rank {
  text-align: center;
}
.data {
  margin-top: 15%;
  color: #6cf9f0;
}

tr {
  text-align: center;
  height: 43px;
  border: 1px solid #6cf9f0;
  color: #6cf9f0;
  margin-bottom: 0;
}

.rightcol {
  height: max-content;
}
.data1 {
  border-color: #6cf9f0;
}
.datarows{
  border-bottom: 1px solid #6cf9f0;
}
.table-responsive {
  box-shadow: 4px 4px 8px #6cf9f0;
  border-radius: 50px;
  border: 1px solid #6cf9f0;
  margin-top: 15px;
}
.navbar{
  border-bottom:1px solid#6cf9f0;
}
.navbar-brand,
.nav-link{
  color: #6cf9f0;
}

.table-responsive::-webkit-scrollbar {
  display: none;
}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 55%;
  justify-content: space-around;
  margin-top: 12%;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3;
}

.circle {
  fill: none;
  stroke-width: 3;
  stroke-linecap: inherit;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4cc790;
}

.circular-chart.blue .circle {
  stroke: #6cf9f0;
}

.percentage {
  fill: #6cf9f0;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.paginationbox {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  /* background-color: #6cf9f0; */
  padding: auto;
}
.pagination > li > span {
  background-color: transparent;
  cursor: pointer;
  color: #6cf9f0;
}


footer{
  border-top:1px solid#6cf9f0;
  height: 50px;

}
@media (max-width: 768px) {
  .leftcol {
    height: max-content;
  }

  .rightcol {
    margin-bottom: 8%;
    height: max-content;
  }
  .single-chart {
    width: 33%;
  }
}
@media (max-width: 600px) {
  .leftcol {
    height: 90vh;
  }
  .data {
    margin-top: 8%;
  }
  thead > tr > .questions {
    display: none;
  }
  .questions {
    display: none;
  }
  .single-chart {
    width: 50%;
  }
  .rightcol {
    margin-bottom: 12%;
    height: 90vh;
  }
  .table-responsive {
    border-radius: 0%;
    margin-top: 0;
  }

}
